<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/vishwa/MavenProject/src/test/java/TestCases/CreateAccountTest.java">
        <classes>
            <class name="TestCases.LoginPageTest">
                <methods>
                    <include name="loginpagetitletest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>